---
layout: null
title: Inkaso systém
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            			<h1>Inkaso systém</h1>
						<h2>INKO</h2>
						<p>Spoluprácou týchto piatich jedinečných jednotlivcov v tíme, ktorí združujú svoje schopnosti, skúsenosti a odhodlanie, sme schopní navrhnúť a vybudovať inkaso systém projektu, ktorý bude neustále prekračovať očakávania a poskytneme najvyššiu kvalitu služieb pre našich občanov.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">Inkaso systém</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h3><a href="#">Anotácia projektu</a></h3>
									<p>Tento projekt sa zameriava na vytvorenie efektívneho inkaso systému pre platby za elektriku, plyn a vodu. Spoluprácou piatich skúsených jednotlivcov v tíme sa usilujú o vytvorenie nástroja, ktorý zjednoduší a zefektívni platby spotrebiteľov. Tím sa bude zaoberať vývojom softvéru,
										 ktorý bude umožňovať online platby a zabezpečí spoľahlivú správu údajov o spotrebe energií a vody. Cieľom projektu je vytvoriť inkaso systém, ktorý bude pre užívateľov pohodlný a zrozumiteľný, zároveň sa však bude snažiť minimalizovať náklady a zvýšiť efektivitu pre poskytovateľov týchto služieb. 
										Inkaso systém bude využívať najmodernejšie technológie a bude riešiť najnovšie výzvy v oblasti správy platobných a spotrebných dát.</p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/skuska_3.png" | absolute_url }}" alt="" /></a>
								<h3>Členovia tímu</h3>
									<p>Alex Gajdoš</p>
									<p>Oleksandr Shepa</p>
									<p>Roman Marian</p>
									<p>Vasylieva Elizaveta</p>
									<p>Karina Jakubovská</p>
							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Zistiť viac</a></li>
  									</ul>
  								</article>
                  					{% if mod3 == 0 %}
                  				<article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  			{% endif %}
        					{% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
				  <li><a href="{{ "/about/" | absolute_url }}" class="button">NEVIEM1</a></li>
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">NEVIEM2</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
				{% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
