<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">Bakalárska práca</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
						
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h3><a href="#">Ciele práce</a></h3>
			  <p>Bakalárska práca sa bude zaoberať týmito cieľmi:</p>
              <!-- moze tu byt nejaky paragraf ak treba -->
            </header>
			<p>1. Analyzovať existujúce prístupy predikcie časových radov v oblasti počítačovej bezpečnosti.</p>
			<p>2. Implementovať modely strojového učenia na predikciu časových radov.</p>
			<p>3. Porovnať dosiahnuté výsledky s existujúcimi výsledkami.</p>
	
          </article>
					<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 3 %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Viac</a></li>
								</ul>
							</article>
							{% if mod3 == 0 %}
							<article>
								<header>
									<h2><a href="#">Sponsored</a></h2>
								</header>

							</article>
							{% endif %}
						{% endfor %}

					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
  		<!-- {% include scripts-main.html %}
			{% include tracking.html %}-->

	</body>
</html>
